@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--black: #181818;
	--gray: #181818a0;
	--offWhite: #fffefaba;
	--white: #fffefaf5;
	--orange: #cc5c00;
	--orange2: #c16a22;
	--yellow: #d6c72d;
	--bg: #ecebe6;
	background-color: #cc5c00
}

* {
	box-sizing: border-box
}

#logo,
.navbar a {
	text-decoration: none;
	color: var(--black)
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bg) !important;
	font-family: Roboto Mono, monospace, sans-serif;
	letter-spacing: -.4px !important;
	line-height: 1.7 !important
}

.notion-text,
p {
	line-height: 1.4;
	margin-bottom: 1rem
}

.divider {
	height: 10px;
	width: 100%;
	background-color: var(--orange2)
}

.notion-page-icon-inline.notion-page-icon-image {
	display: none
}

.lecture-summary {
	padding-bottom: 32px
}

.lecture-summary h1 {
	font-weight: 500;
	padding-bottom: 12px
}

.lecture-summary a:first-of-type {
	width: 100%;
	font-size: larger !important;
	font-weight: 600;
	color: var(--orange) !important;
	display: flex;
	margin-bottom: 8px;
	text-decoration: underline;
	text-underline-offset: 2px;
	margin-top: 20px
}

.lecture-summary td:nth-child(2) {
	padding-bottom: 32px
}

.lecture-summary code {
	display: block;
	font-size: normal;
	padding-top: 12px;
	line-height: 1.4;
	margin-bottom: 1rem
}

.lecture-summary td:first-child {
	align-content: flex-start;
	font-size: normal;
	width: 120px !important;
	padding-right: 24px;
	line-height: 1.4;
	margin-bottom: 1rem
}

.lecture-summary table~* {
	display: none !important
}

.lecture-summary table {
	width: 100%;
	margin: auto
}

.home-about {
	font-size: small
}

.lecture-tab-nav {
	color: var(--offWhite) !important;
	padding: 8px;
	margin-left: 12px;
	margin-right: 12px;
	text-decoration: none
}

.lecture-tab-nav.isActive {
	color: var(--white) !important;
	border-bottom: 3px solid var(--orange)
}

.lecture-details main .notion-viewport+.notion-text b {
	font-size: x-large;
	color: var(--black);
	font-weight: 500
}

.lecture-details main .notion-text b {
	color: var(--orange2);
	font-weight: 400
}

.lecture-details blockquote {
	margin-left: 0;
	margin-top: 32px;
	padding: 0 0 180px
}

.lecture-details blockquote a {
	background-color: var(--orange);
	color: var(--white);
	border-radius: 12px;
	padding: 18px 24px;
	text-decoration: none
}

a.menu-item {
	color: var(--black);
	cursor: pointer;
	text-decoration: none !important;
	padding: 12px
}

.lecture-details {
	width: 100%
}

.notion-asset-wrapper {
	width: 100%;
	padding: 0;
	margin: 0
}

.lecture-details blockquote {
	color: var(--gray);
	font-size: large;
	width: 92%;
	font-family: Garamond, serif;
	letter-spacing: 1px !important;
	line-height: 1.5 !important;
	border-left: 6px solid var(--yellow);
	padding: 20px 24px;
	margin: 24px 0
}

.notion-yt-lite {
	background-color: #000;
	height: 100%;
	contain: content;
	background-position: 50%;
	background-size: cover;
	cursor: pointer;
	bottom: 0;
	border-radius: 4px
}

.notion-yt-lite,
.notion-yt-lite:before {
	position: absolute;
	width: 100%;
	display: block
}

.notion-yt-lite:before {
	content: "";
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	height: 60px;
	padding-bottom: 50px;
	transition: all .2s cubic-bezier(0, 0, .2, 1)
}

.notion-yt-lite>iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.ecocriticism-tab .notion-row {
	display: flex;
	justify-content: space-between
}